/* style.css */

@keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 1.5;
    min-height: 100vh;
    background-image: url('img/background6.jpg');
    background-size: cover;
    flex-direction: column;
    margin: 0;
}

.main {
    border-radius: 15px;
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    height: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.timer {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130px;
    color: white;
}

.control-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.control-buttons button {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    padding: 5px 40px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}

.control-buttons button:hover {
    font-weight: bold;
    color: black;
    background-color: white;
    transition: color 0.3s;
    transition: background-color 0.5s;
    cursor: default;
}

.control-buttons button.selected {
    font-weight: bold;
    color: black;
    background-color: white;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

.restart-button {
    font-size: 50px;
}

#restart-button {
    cursor: pointer;
}

#restart-button.spin-animation {
    animation: spin 1s infinite;
}

.background-selector {
    font-size: 16px;
    margin-top: 50px;
    color: white;
}

#background-select {
    font-size: 16px;
    padding: 5px;
    border-radius: 1px solid #ccc;
    background-color: #fff;
    font-family: 'Montserrat';
    border: none;
    margin-left: 20px;
}